/* frontend/src/components/AboutSection/AboutSection.css */

.about-section {
  min-height: 50vh; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: rgba(255, 255, 255, 0); 
  z-index: 2; 
}

.about-content {
  max-width: 800px; 
  margin: 0 auto;
  padding: 50px;
  border-radius: 15px;
  color: #FFF8DC; 
  text-align: left; 
}

.about-content h2 {
  color: #FFD700; 
  margin-bottom: 20px; 
}

.about-content p {
  color: #FFFFFF; 
  line-height: 1.6; 
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
