/* frontend/src/components/EventsSection/EventsSection.css */

.events-section {
    min-height: 100vh; /* Full height of the viewport */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgba(255, 255, 255, 0); /* Fully transparent to allow the global gradient to be visible */
    z-index: 2; /* Ensures the content scrolls over the fixed background */
  }
  
  .events-content {
    max-width: 800px; /* Adjust as needed */
    margin: 0 auto;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.6); /* Semi-transparent background for readability */
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left; /* For a more traditional reading experience */
  }
  