/* frontend/src/App.css */

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.nav-links {
  list-style: none;
  padding: 0;
}

.nav-links li {
  display: inline;
  margin: 0 10px;
}

.nav-links a {
  text-decoration: none;
  color: white;
}

/* In App.css or index.css */

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: #000; /* Fallback color */
}
.App {
  min-height: 100%;
  height: auto;
  background: linear-gradient(to bottom, 
    rgba(0, 0, 0, 1) 0%, 
    rgb(70, 56, 36) 100%); /* Extended gradient endpoint */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  will-change: transform; /* Optimize for performance */
}
