/* ProjectCard.css */
.project-card {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    align-items: stretch;
  }
  
  .project-card-footer {
    color: #FFD700;
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
  }
  
  .project-card.hovered, .project-card:hover {
    transform: scale(1.025);
    background-color: white;
    color: black;

    .project-card-footer {
      color: #0062ff;
    }
  }

  .project-card-image {
    width: 50%;
    /* height: 70%; Maintains 5:7 aspect ratio */
    object-fit: cover;
    display: block;
    margin: 0 auto;
    overflow-y: hidden;
    border-radius: 15px;
  }

  .project-card h2, .project-card p {
    word-wrap: break-word; 
  }

@media (max-width: 600px) {
    .project-card {
      margin: 20px auto;
      width: 70%;
      box-sizing: border-box;
    }
  
    .project-card h2, .project-card p {
      font-size: 16px;
      line-height: 1.5;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
  }